html
    head
        include mystyle.css
    script.
        function none() {
            x=document.getElementById('none');
            if (x.style.display === "none") {
                document.getElementById('CommentsDetail').style.display="none";
                document.getElementById('Tag').style.display="none";
                x.style.display = "none";
            } 
            else 
            {
            x.style.display = "none";
            }
            }

        function Tag() {
            x=document.getElementById('Tag');
            if (x.style.display === "none") {
                document.getElementById('Comments').style.display="none";
                x.style.display = "block";
            } 
            else 
            {
            x.style.display = "none";
            }
            }   
        function Comments() {
            x=document.getElementById('Comments');
            if (x.style.display === "none") {
                document.getElementById('Tag').style.display="none";
                x.style.display = "block";
            } 
            else 
            {
            x.style.display = "none";
            }
            }
    body
        p#none
        <button onclick="none()">Double Click For A Blank Slate</button>
        <button onclick="Comments()">CommentDetails</button>
        <button onclick="Tag()">Tag</button>
        #table-wrapper
            table#CommentsDetails
                tr
                    th Comment
                    th Timestamp
                each j,i in articles.comments_with_timestamps
                    tr
                        td=articles.comments_with_timestamps[i][1]
                        td=articles.comments_with_timestamps[i][0]
            table#Tag
                tr
                    th Name
                    th Numberoftimestagged
                each j,i in articles.numberoftimestagged
                    tr
                        td=i
                        td=j.tagged
